.toolbar {
    padding: 0.34em;
    height: 4em;
}

.option {
    width: 25%;
    font-size: 0.8em;
    display: inline-block;
    position: relative;
    z-index: 5000;
    padding-right: 0.5em;
    vertical-align: top;
}

.internal {
    white-space: nowrap;
}

.wrapper {
    height: 4em;
}
